.node-container {
  width: 300px;
  height: 40px;
  display: flex;
  border: 1px solid rgba(30, 30, 30, 0.4);
  margin: 5px;
  box-sizing: border-box;

  .number {
    flex-grow: 99;

    input,
    .leaf {
      height: 20px;
      margin: 5px 0 5px 5px;
      text-align: center;
    }
  }
}

.button {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 5px;
  border: 2px solid rgba(40, 40, 40, 0.3);

  svg {
    height: 20px;
    width: 20px;
    margin: 0;
  }
}

.expanded {
  svg {
    transform: rotate(180deg);
  }
}

.children-container {
  margin-left: 30px;
}
